@import "mixins";

.n-hidden {
  display:none !important;
}

.n-hidden--xs-only {
  @include breakpoint(xs-only) { display: none !important; }
}

.n-hidden--sm-only {
  @include breakpoint(sm-only) { display: none !important; }
}

.n-hidden--md-only {
  @include breakpoint(md-only) { display: none !important; }
}


.n-hidden--sm {
  @include breakpoint(sm) { display: none !important; }
}

.n-hidden--md {
  @include breakpoint(md) { display: none !important; }
}

.n-hidden--lg {
  @include breakpoint(lg) { display: none !important; }
}


.bold {
  font-weight: bold;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// screen-reader only eg. text within links that are images (social-buttons)
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.disable-animations,
.disable-animations * {
  transition-property: none !important;
  transform: none !important;
  animation: none !important;
}

.retina-only {
  display: none;
  @include retina() {
    display: block;
  }
}

.retina-hidden {
  @include retina() {
    display: none;
  }
}