//breakpoints
$sm: 48; // 768px @ 16px = 1em
$md: 64; // 1024px @ 16px = 1em
$lg: 75; // 1200px @ 16px = 1em
$sm-screen: #{$sm}em; // 768px @ 16px = 1em
$md-screen: #{$md}em; // 1024px @ 16px = 1em
$lg-screen: #{$lg}em; // 1200px @ 16px = 1em

// Colours
$ui-primary-colour: black;
$ui-secondary-colour: white;

$aqua-squeeze: #E2F0F5;
$dark-grey: #555;
$orient: #056582;
$bondi-blue: #0A89AF;
$iron: #CCC;
$white: #FFF;
$mercury: #D6D2CE;
$onahau: #BFDCEE;
$cerulean: #0CA6D4;
$monsoon: #787878;
$black: #000;
$jumbo: #888;
$wild-sand: #F6F5F3;
$grey-chateau: #A5A5A5;
$tuatara: #434343;
$pampas: #F3F2EE;
$solitude: #EAF5FC;
$armadillo: #4A4A4A;
$concrete: #F3F3F3;

// Fonts
$font:    "NOTHS2", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
$font-color: $dark-grey;
