html body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  background: #EEE;
  line-height: 1.4rem;
  padding-top: 3.5rem;
  -webkit-font-smoothing: antialiased;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #001A33;
}
body h2 {
  font-size: 2rem;
  margin: 1rem 0;
}
body h3 {
  font-size: 1.5em;
}
body h4,
body h3 {
  margin: 0.75rem 0;
}
body h4 {
  font-size: 1.2em;
}
body small {
  font-size: 0.8rem;
  opacity: 0.9;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
body p {
  margin: 1rem 0 1rem 0;
}
body a {
  text-decoration: none;
  color: #007FFF;
  padding: 0 0 0.2rem 0;
  font-weight: bold;
}
body a:hover {
  color: #007FFF;
}
.list {
  margin-left: 2.5em;
}
.list ul {
  margin-bottom: 6px;
}
dl.no-list dt:nth-child(4n+1),
dl.no-list dt:nth-child(4n+1) + dd {
    background: rgba(255,255,255,0.5);
}
dl.no-list dt,
dl.no-list dd {
    padding: 6px;
}
.checkbox-list {
  list-style: none;
}
.checkbox-list li:before {
  content: "";
  display: inline-block;
  width: 0.7em;
  border: 1px solid grey;
  height: 0.7em;
  margin-left: -2em;
  margin-right: 0.7em;
  background: #fcfcfc;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}
code {
  color: #007FFF;
}
body pre {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid #e6e6e6;
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: .875em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal;
}
body pre.inline{
  display: inline;
  margin-right: 1em;
  padding: 0 1em 0 1em;
}
body header {
  display: flex;
  min-height: 3rem;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 0 1px hsla(0,0%,100%,.65);
  height: 3rem;
  align-items: center;
  padding: 0 2.4rem;
  color: rgba(255,255,255,.8);
  background: #056582;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 300;
}

body header .site-title {
  position: relative;
  font-size: 1.2em;
  padding-left: 80px;
  text-indent: 0;
  line-height: 1em;
  width: 60%;
}
body header .logo-image {
  position: absolute;
  left: 0;
  top: 5px;
  width: 70px;
  height: 34px;
}
@media screen and (min-width: 768px){
  body header .site-title {
    text-indent: 17%;
    font-size: 1.5em;
    width: 50%;
    padding-left: 0;
  }
  body header .logo-image {
    width: 120px;
    height: 58px;
  }
}

body header a {
  color: rgba(255,255,255,.8);
  text-decoration: none;
  tap-highlight-color: transparent;
  line-height: 2em;
}

body header a:hover {
  color: white;
}
body header nav {
  flex-grow: 1;
  text-align: right;
}

body ul.no-list {
  list-style: none;
}

body ul.no-list.horizontal li {
  display: inline-block;
}
body ul.no-list.vertical li {
  display: block;
}

body header nav ul.no-list a {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
  padding: 0 1.25rem;
  margin-right: 1rem;
  line-height: 3rem;
}

body header nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: .3rem;
  content: '';
  transition: all 0.3s ease-in-out;
}

body header nav ul li a.active:after,
body header nav ul li a:hover:after {
  background-color: #ff4081;
}

.page-body a[name]:not([href]):first-of-type {
  padding: 0;
}

.page-body a[name]:not([href]) {
  padding: .5em;
  display: block;
}

.page-body a[name]:not([href]):target {
  padding: 1.5em;
}
.page-body h2 {
  border-left: 3px solid transparent;
  transition: all 0.3s ease-in-out;
  margin-left: -3px;
}
.page-body a:target + section > h2 {
  border-left: 3px solid #ff4081;
  padding-left: 8px;
  margin-left: -11px;
}
.page-body h3 {
  border-left: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  margin-left: -2px;
}
.page-body a:target + h3 {
  border-left: 2px solid #ff4081;
  padding-left: 8px;
  margin-left: -10px;
}

.page-shortcuts  {
  position: relative;
}
.page-shortcuts ul {
  position: fixed;
  max-height: calc(100vh - 3.5em);
  overflow: auto;
  width: 100%;
  padding: 0;
  margin-top: 6px;
}
.page-shortcuts ul ul {
  position: relative;
  margin-left: 12px;
  font-size: 0.8em;
}

.page-shortcuts a {
  line-height: 2em;
  color: #056582;
}

.octicon {
  fill: white;
  opacity: 0.8;
  position: relative;
  top: 8px;
}
a:hover .octicon {
  opacity: 1;
}
.r-90 svg {
  transform: rotate(90deg);
}
.center {
  margin: 0 auto;
  text-align: center;
  display: block;
}

body blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 0.8em;
}
body blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
body blockquote p {
  display: inline;
}
body blockquote cite {
  display: block;
}
body blockquote cite:before {
  content: " - ";
  display: inline-block;
  margin:0 1em;
}


.color-list {
  column-count: 1;
}
@media screen and (min-width: 500px){
  .color-list {
    column-count: 2;
  }
}
@media screen and (min-width: 950px){
  .color-list {
    column-count: 3;
  }
}

.color-list dt,
.color-list dd {
  position: relative;
  padding-left: 40%;
}

.color-list dt:before {
  content: '';
  display: inline-block;
  height: 40px;
  margin: 5px 5%;
  width: 30%;
  position: absolute;
  left: 0;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 5px;
}

.color-list dt.color--aqua-squeeze:before {
  background: #E2F0F5;
}
.color-list dt.color--dark-grey:before {
  background: #555;
}
.color-list dt.color--orient:before {
  background: #056582;
}
.color-list dt.color--bondi-blue:before {
  background: #0A89AF;
}
.color-list dt.color--iron:before {
  background: #CCC;
}
.color-list dt.color--white:before {
  background: #FFF;
}
.color-list dt.color--mercury:before {
  background: #D6D2CE;
}
.color-list dt.color--onahau:before {
  background: #BFDCEE;
}
.color-list dt.color--cerulean:before {
  background: #0CA6D4;
}
.color-list dt.color--cerulean-two:before {
  background: #1DA7D2;
}
.color-list dt.color--monsoon:before {
  background: #787878;
}
.color-list dt.color--black:before {
  background: #000;
}
.color-list dt.color--jumbo:before {
  background: #888;
}
.color-list dt.color--wild-sand:before {
  background: #F6F5F3;
}
.color-list dt.color--grey-chateau:before {
  background: #A5A5A5;
}
.color-list dt.color--tuatara:before {
  background: #434343;
}
.color-list dt.color--pampas:before {
  background: #F3F2EE;
}
.color-list dt.color--solitude:before {
  background: #F3F2EE;
}
.color-list dt.color--armadillo:before {
  background: #4A4A4A;
}
.color-list dt.color--concrete:before {
  background: #F3F3F3;
}
