// *********************************
// FONTS
// *********************************
$no3_regular_font:    "NOTHS Sans No3 Regular", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
$no2_regular_font:    "NOTHS Sans No2 Regular", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
$no_2_semibold_font:  "NOTHS Sans No2 SemiBold", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;

// *********************************
// MEDIA QUERIES
// *********************************
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

// *********************************
// COLOURS
// *********************************
$ui_primary_colour: black;
$ui_secondary_colour: white;
