@import "mixins";

.hidden {
  display:none !important;
}

.hidden--mobile {
  @include breakpoint(small) {
    display: none !important;
  }
}

.hidden--desktop{
  @include breakpoint(large) {
    display: none !important;
  }
}

.bold {
  font-weight: bold;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// screen-reader only eg. text within links that are images (social-buttons)
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
