@import "mixins";

.hidden !important {
  display:none;
}

.hidden--mobile !important {
  @include breakpoint(small) {
    display: none;
  }
}

.hidden--desktop !important {
  @include breakpoint(large) {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// screen-reader only eg. text within links that are images (social-buttons)
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
