//breakpoints
$sm: 48; // 768px @ 16px = 1em
$md: 64; // 1024px @ 16px = 1em
$lg: 75; // 1200px @ 16px = 1em
$sm-screen: #{$sm}em; // 768px @ 16px = 1em
$md-screen: #{$md}em; // 1024px @ 16px = 1em
$lg-screen: #{$lg}em; // 1200px @ 16px = 1em

// Colours
$ui_primary_colour: black;
$ui_secondary_colour: white;

$aqua_squeeze: #E2F0F5;
$dark_grey: #555;
$orient: #056582;
$bondi-blue: #0A89AF;
$iron: #CCC;
$white: #FFF;
$mercury: #D6D2CE;
$onahau: #BFDCEE;
$cerulean: #0CA6D4;

// Fonts
$font:    "NOTHS2", "Helvetica Neue", "HelveticaNeue", Arial, sans-serif;
$font-color: $dark_grey;
