@import "../abstracts/variables";
@import "../abstracts/mixins";

.n-container-fluid,
.n-container {
  margin-right: auto;
  margin-left: auto;
}

.n-container-fluid {
  padding-right: 1rem;
  padding-left: 1rem;
}

.n-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.n-row.reverse {
  flex-direction: row-reverse;
}

.n-col.reverse {
  flex-direction: column-reverse;
}


@include set-grid-cols(xs) // mobile

@include breakpoint(sm) { // tablet portrait
  .n-container {
    width: #{$sm}rem;
  }
  @include set-grid-cols(sm);
}

@include breakpoint(md) { // tablet landscape
  .n-container {
    width: #{$md}rem;
  }
  @include set-grid-cols(md);
}

@include breakpoint(lg) {  // desktop
  .n-container {
    width: #{$lg}rem;
  }
  @include set-grid-cols(lg);
}
