@import "../abstracts/variables";
@import "../abstracts/mixins";

[toga] {
  font-family: $font;
  font-style: normal;
  color: $font-color;
  font-size: 16px;
}

p, input, textarea, keygen, select, button {
  font-family: inherit;
}

h1,
.page-title {
  font-size: 26px;
  line-height: 26px;

  @include breakpoint(sm) {
    font-size: 42px;
    line-height: 40px;
  }
}

h2,
.title {
  font-size: 20px;
  line-height: 22px;

  @include breakpoint(sm) {
    font-size: 22px;
    line-height: 24px;
  }
}

h3,
.sub-title {
  font-size: 17px;
  line-height: 19px;

  @include breakpoint(sm) {
    font-size: 19px;
    line-height: 21px;
  }
}

.small,
.legal {
  font-size: 12px;
  line-height: 14px;
}

a:hover,
p a {
  color: $bondi-blue;
}
